@import "tailwindcss";

body {
  font-family: 'Google Sans', 'Roboto', sans-serif;
  background-color: #F8F9FA;
  color: #202124;
  cursor: none;
  /* Custom cursor used */
}

@media (max-width: 1024px) {
  body {
    cursor: auto;
  }
}

::selection {
  background-color: #1A73E8;
  color: white;
}